body {
    font-family:verdana,arial;
    padding:20px;
}
.bd {
    text-align:center;
}
.container {
    margin:0 auto;
    width:100%;
}
.slot-wrapper {
    border: 1px solid #000000;
    text-align: center;
}
.slot {
    /*background:url("images/reel_normal.png") repeat-y; Taken from http://www.swish-designs.co.uk*/
    width:235px;
    height:155px;
    display: inline-block;
}
.motion {
    /*background:url("images/reel_blur.png") repeat-y; Taken from http://www.swish-designs.co.uk*/
}
button#control {
    background:url("../img/button.png") no-repeat;
    display:block;
    width: 98px;
    height: 98px;
    margin:20px auto;
    border: 0px;
    cursor:pointer;
}
.slot-footer {
    text-align: center;
}
#result {
    margin:20px 0;
    font-size:18px;
    font-weight:bold;
    height:22px;
}
.credits {
    font-size:15px;
    margin-top:20px;
}
.credits .browsers {
    font-style:italic;
    font-size:14px;
    color:#777;
    margin-top:4px;
}
.clear {
    clear:both;
}